body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
}
a:link {
  color: #0cc;
  text-decoration: none;
}
a:visited {
  color: #0cc;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
img {
  border:0;
}

h3 {
  margin-top: 0px;
}

.card {
  float: left;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  background-color: black;
}