body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
}
a:link {
  color: #ccc;
}
a:visited {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
img {
  border:0;
}

h3 {
  margin-top: 0px;
}

.cardimg {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 200px;
  height: 150px;
  object-fit: scale-down;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.clear-left {
  clear: left;
}

.card {
  float: left;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  background-color: black;
}